@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Syne:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #030014;
  color: #fff;
  color-scheme: dark;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #050505;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #030014;
}

::-webkit-scrollbar-thumb {
  background: #7042f8;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00f0ff;
}